<style type="text/css">p {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.donations
{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: 1px solid #333;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #000;
}

.donations caption
{
  caption-side: bottom;
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  padding: 0.5em 0;
}

.donations th, .donations td
{
  border: 1px dotted #666;
  padding: 0.5em;
  text-align: left;
}

.donations th
{
  text-align: center;
  font-weight: bold;
}

.donations th[scope=col]
{
  color: #000;
  text-transform: uppercase;
  font-size: 0.9em;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

.donations th+th[scope=col]
{
  color: #fff;
  border-right: 1px dotted #666;
}

.donations th[scope=row]
{
  border-right: 2px solid #333;
}

img.cnf-banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
<h1>Tax Deductible Giving Statement for {date.giving_year} from NAME OF YOUR ORGANIZATION</h1>

<p><span style="line-height: 1.6em;">{contact.display_name}</span><br />
<span style="line-height: 1.6em;">{contact.street_address}</span><br />
<span style="line-height: 1.6em;">{contact.city},&nbsp;{contact.state_province}&nbsp;{contact.postal_code}</span></p>

<p><span style="line-height: 1.6em;">{donor.giving_statement}</span></p>

<p>&nbsp;</p>

<hr />

<p>&nbsp;</p>
